<?php
/**
 * parameters.php.dist
 *
 * (c) Loïc Payol <contact@loicpayol.fr>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * You should copy-paste this file and rename it "parameters.php". Change
 * the values according to your configuration.
 */

return array(
    // `public_key.path` : path to your public key
    'public_key.path' => __DIR__ . '/public_key.pem',

    // `private_key.path` : path to your private key
    'private_key.path' => __DIR__ . '/private_key.pem'
);